<div class="containter" id="add-form">
  <form>
    <fieldset>
    <legend>Add A Product</legend>
      Name: <input type="text">
      Price: <input type="text">
      Description: <input type="text">
      Quantity: <input type="text">
      Color: <input type="text">
      Weight: <input type="text">
      <input type="submit" value="Submit">
    </fieldset>
  </form>
</div>