<h1 class="center">Products</h1>
<hr />

<div class="row">
  <div class="col s12 m6">
    <ul id="products">
   </ul>
  </div>
</div>

<hr />

<div class="containter">
  <button>Add Product</button>
  <button>Edit Product</button>
  <button>Delete Product</button>
</div>

<hr />

<div class="containter">
  <form>
    <fieldset>
    <legend>Add A Product</legend>
      Name: <input type="text">
      Price: <input type="text">
      Description: <input type="text">
      Quantity: <input type="text">
      Color: <input type="text">
      Weight: <input type="text">
      <input type="submit" value="Submit">
    </fieldset>
  </form>
</div>